<!-- <div class="center"> -->	
<div class="landing-page">
<img src=''>
<div class="new-user-wrap">
		<h1> Connect to your Data </h1>
		<%= render 'form' %>
</div>

<div class="pitch">
	<p>
		<h1> RainSense </h1>
	A data-driven water management solution for the home. Conserve water, help the environment, and explore your water data. <%= link_to 'Click here to order a barrel.', "http://amazon.com" %> </p>
</div>
</div>
<!-- </div>
 -->