<h1 class="title">  </h1>
<div id="nav-bar-wrap">
	<div id="nav_bar"> 
		<h3 class="logo"> 
			<span>R</span>
			<span>a</span>
			<span>i</span>
			<span>n</span>
			<span>S</span>
			<span>e</span>
			<span>n</span>
			<span>s</span>
			<span>e</span> 
		</h3>
		<ul id="nav_list">
			<li> 
				<div class="legend selected"><span class="circle-prev-text">WU</span></div>
				<a href="/rain_barrel/water_usage" class="wl-link">
					<strong> Water Usage <br/> </strong>
					<small> Stats, conservation & logs </small>
				</a>
			</li>
			<li> 
				<div class="legend"><span class="circle-prev-text">WQ</span></div>
				<a href="/rain_barrel/water_quality" class="wq-link">
					<strong> Water Quality <br/></strong>
					<small> Stats & explanations </small>
				</a>
			</li>
			<li> 
				<div class="legend"><span class="circle-prev-text">WF</span></div>
				<a href="/rain_barrel/filter_life" class="fl-link">
					<strong> Water Filter <br/> </strong>
					<small> Life remaining, where to buy </small>
				</a>
			</li>
		</ul>
	</div>
</div>
<div id="app-wrapper">
	<div id="wrapper">
		<!-- Simulations: -->
		<% link_to "regular rainstorm", "rain_barrel/run_sim?type=simple" %>
		<% link_to "acid rainstorm (high pH)", "rain_barrel/run_sim?type=ph" %>
		<% link_to "high tds", "rain_barrel/run_sim?type=TDS" %>
		<% link_to "high pH + high TDS", "rain_barrel/run_sim?type=ph_and_TDS" %>
			<div class="circle-wrap circle-wl active">
				<div id="wl-graphic" class="wl-label circle label"><span class="circle-prev-text">WU</span><span class="circle-text"> Water Level </span></div>
				<div class="wl-gallons preview"><span class="circle-text"> 12 gallons </span></div>
				<div class="wl-line preview"> </div>
				<div class="wl-percent preview"><span class="circle-text"> 33% full </span></div>
				
			</div>

			<div class="circle-wrap circle-wq inactive">

				<div id="wq-graphic" class="wq-label circle label"><span class="circle-prev-text">WQ</span><span class="circle-text"> Water Quality </span></div>
				<div class="wq-status circle preview"><span class="circle-text"> </span></div>
				
			</div>

			<div class="circle-wrap circle-fl inactive">
				<div id="fl-graphic" class="fl-label circle label"><span class="circle-prev-text">WF</span><span class="circle-text"> Filter Life </span></div>
				<div class="fl-status circle preview"><span class="circle-text"> </span></div>
			</div>

			<div id="barrel"> 
				<div class="ph-scale"></div>


				<!-- water level graphic -->
				<div id="water_level" class='wl-graphic preview-graphic'> 
					<%= link_to "","/rain_barrel/water_quality", {class: 'water_quality_link'} %> 
				</div>



				<!-- water quality graphic -->
				<div class="pH-bar wq-graphic preview-graphic"> 
					<div class="bar-data"> </div>
				</div>

				<div class="tds-bar wq-graphic preview-graphic">
					<div class="bar-data"> </div>
				</div>



				<!-- filter life graphic -->
				<div class="filter-wrapper fl-graphic preview-graphic">
					<div class="fl-bar fl-graphic preview-graphic"> 
						<div class="bar-label"> used </div>
					</div>
					<div class="fl-remaining-bar fl-graphic preview-graphic"> 
						<div class="bar-label"> remaining </div>
					</div>
				</div>

				<div class="tds-scale"></div>
			</div>
			<div class="bar-label1 preview-graphic"> pH </div>
			<div class="bar-label2 preview-graphic"> tds </div>
	</div>
</div>

