<section id="usage" class="usage-section">
	<h3> Usage </h3>
	<div id="data"> 
		<div id="twc" class="data-elt-wrapper"> 
			<div class="data-elt"> Total water collected: 
				<span class="data-bit">  </span>
			</div>
			<div class="explanation"> The total amount of water, in gallons, that your rain barrel has collected. </div> 
		</div>
	
		<div id="twu" class="data-elt-wrapper"> 
			<div class="data-elt"> Total water used:
				<span class="data-bit"> </span> 
			</div>
			<div class="explanation"> The total amount of water, in gallons, which you have used 	for various purposes. </div>
	</div>
</section>

<section id="overflows" class="usage-section">
	<h3> Overflows </h3>
	<div id="data"> 
		<div id="noe" class="data-elt-wrapper"> 
			<div class="data-elt"> # of overflow events: 
				<span class="data-bit">  </span>
			</div>
			<div class="explanation"> The total number of times that water has overflowed from the rain barrel. </div> 
		</div>
	
		<div id="two" class="data-elt-wrapper"> 
			<div class="data-elt"> Total water overflown:
				<span class="data-bit"> </span> 
			</div>
			<div class="explanation"> The total amount of water, in gallons, which has overflown from the rain barrel. </div>
	</div>

	<div id="two-avg" class="data-elt-wrapper"> 
			<div class="data-elt"> Total water overflown:
				<span class="data-bit"> </span> 
			</div>
			<div class="explanation"> The average amount of water, in gallons, which overflows from the rain barrel during an overflow event. </div>
	</div>
</section>

<section id="other" class="usage-section">
	<h3> Other </h3>
	<div id="data"> 
		<div id="pmc" class="data-elt-wrapper"> 
			<div class="data-elt"> Potential max collection: 
				<span class="data-bit">  </span>
			</div>
			<div class="explanation"> The amount of water that you could potentially collect, which considers the size of your roof (in sq. ft.) and your location. </div> 
		</div>
</section>
