<section id="usage" class="usage-section">
	<h3> Usage </h3>
	<div id="data"> 
		<div id="twc" class="data-elt-wrapper"> 
			<div class="data-elt"> Water collected: 
				<span class="data-bit">397 gallons </span>
			</div>
			<div class="explanation"> The total amount of water, in gallons, that your rain barrel has collected. </div> 
		</div>
	
		<div id="twu" class="data-elt-wrapper"> 
			<div class="data-elt"> Water used:
				<span class="data-bit"> 274 gallons </span> 
			</div>
			<div class="explanation"> The total amount of water, in gallons, which you have used 	for various purposes. </div>
	</div>
</section>

<section id="overflows" class="usage-section">
	<h3> Overflows </h3>
	<div id="data"> 
		<div id="noe" class="data-elt-wrapper"> 
			<div class="data-elt"> Overflow events: 
				<span class="data-bit"> 9 </span>
			</div>
			<div class="explanation"> The total number of times that water has overflowed from the rain barrel. </div> 
		</div>
	
		<div id="two" class="data-elt-wrapper"> 
			<div class="data-elt"> Water overflown: 
				<span class="data-bit"> 33 gallons </span> 
			</div>
			<div class="explanation"> The total amount of water, in gallons, which has overflown from the rain barrel. </div>
	</div>

	<div id="two-avg" class="data-elt-wrapper"> 
			<div class="data-elt"> Avg. water overflown: 
				<span class="data-bit"> 3.6 gallons </span> 
			</div>
			<div class="explanation"> The average amount of water, in gallons, which overflows from the rain barrel during an overflow event. </div>
	</div>
</section>

<section id="other" class="usage-section">
	<h3> Other </h3>
	<div id="data"> 
		<div id="pmc" class="data-elt-wrapper"> 
			<div class="data-elt"> Estimated max collection: 
				<span class="data-bit"> 1,020 gallons </span>
			</div>
			<div class="explanation"> The estimated amount of water that you could potentially collect, based on the square feet of your roof and rainfall patterns in your area. </div> 
		</div>
</section>
