$wrap-borders: 0px dotted green;
$barrel-borders: 0px dotted red;

/* circles, previews */

.circle-wrap {
	border: $barrel-borders;
	height: 100px;
	width: 100px;
	z-index: 1000;
}

.circle-wrap:hover {
	cursor: pointer;
}

.circle {
	background: #384151;
	border-radius: 50%;
	display: block;
	text-align: center;
	z-index: 1000;
}

.active .circle {
	background: #39f;
}

.inactive .circle {
	background: #384151;
}

.circle:hover {
	background: #39f;
	cursor: pointer;
}

.circle-text {
	position: absolute;
	top: 50%;
	z-index: 1000;
	transform: translateY(-50%);
	display: inline-block;
	left: 0;
	border: 0px solid red;
	width: auto;
}

/* water level */

.circle-wl {
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
	transform: translateY(137px);
}

.wl-label {
	position: absolute;
	display: none;
	top: 50%;
	left: 79%;
	transform: translateY(-50%);
	height: 38px;
	width: 38px;
	.circle-text {
		display: none;
	}
	// position: relative;
	// height: 60px;
	// width: 60px;
	// z-index: 1000;
}

.wl-label:hover {
	.circle-text {
		display: block;
	}

	animation-name: enlarge;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	// margin-top: -30px;
	margin-left: -18px;
}

@keyframes enlarge {
	from {padding: 0px; margin-left: 0px; } to {padding: 18px; margin-left: -18px;}
}

.wl-percent {
	position: absolute;
	top: 32%;
	display: inline-block;
	position: relative;
	border: $wrap-borders;
	height: auto;
	width: 100%;
	z-index: 500;
}

.wl-gallons {
	position: absolute;
	top: 21%;
	display: inline-block;
	position: relative;
	height: auto;
	width: 100%;
	z-index: 500;
}

.wl-line {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 0px;
	width: 100%;
	border: 1px dotted #645;
}

/* water quality */
.circle-wq {
	position: absolute;
	left: 82%;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}

.wq-graphic {
	overflow: visible !important;
}

.wq-label {
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	z-index: 1000;
	left: -13%;

	.circle-text {
		display: none;
	}
}

.circle-prev-text {
	display: inline-block;
	margin-top: 25%;
}

.wq-label:hover {
	.circle-text {
		display: block;
	}

	animation-name: enlarge_two;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	margin-left: -30px;
}

@keyframes enlarge_two {
	from {padding: 0px; margin-left: 0px; margin-top: 0px;} to {padding: 30px; margin-left: -30px; margin-top: -30px;}
}

.wq-status {
	display: none;
	position: absolute;
	height: 83px;
	width: 83px;
	z-index: 500;
}

.pH-bar {
	position: relative;
	overflow: visible !important;
	top: 100%;
	left: 25%;
	height: 0px;
	width: 35px;
	display: none;
	border: $barrel-borders;
	color: #000;
	font-weight: bold;
}

.tds-bar {
	position: absolute;
	overflow: visible !important;
	top: 100%;
	left: 60%;
	height: 0px;
	font-weight: bold;
	width: 35px;
	display: none;
	border: $barrel-borders;
	color: #000;
}

.bar-label1 {
	position: fixed;
	text-align: center;
	left: 36%;
	font-size: 13px;
	color: #bbb;
	top: 83%;
	z-index: 50000;
	display: none;
}

.bar-label2 {
	position: fixed;
	text-align: center;
	left: 59%;
	top: 83%;
	font-size: 13px;
	color: #bbb;
	bottom: -25px;
	z-index: 50000;
	display: none;
}


.bar-data {
	font-size: 14px;
	margin: 0px auto;
	padding-top: 5px;
	text-align: center;
}

.ph-scale {
	border-image: -webkit-linear-gradient(top, #af3823 0%,#c62a1f 21%,#eaea25 29%,#dee82c 37%,#24b733 50%,#dce52d 63%,#dce52d 72%,#ea352e 82%,#ef3921 100%);
}

.tds-scale {

}

/* filter life */
.circle-fl {
	position: absolute;
	left: 47%;
	top: 25.3%;
	transform: translateY(-50%);
	display: block;
}

.fl-label {
	position: absolute;
	display: block;
	height: 38px;
	width: 38px;
	top: -10%;
	left: -10%;
	z-index: 1000;

	.circle-text {
		display: none;
	}
}

.fl-label:hover {
	text-align: center;

	.circle-text {
		display: inline-block;
		text-align: center;
	}

	animation-name: enlarge_two;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	margin-left: -18px;
}

@keyframes enlarge_two {
	from {padding: 0px; margin-left: 0px; margin-top: 0px;} to {padding: 18px; margin-left: -18px; margin-top: -18px;}
}

.fl-status {
	display: none;
	position: absolute;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -100px;
	z-index: 500;
}

.filter-wrapper {
	position: relative;
	display: inline-block;
	border: 0px solid red;
	width: 100%;
	margin: 0 auto;
	margin-top: -6px;
	height: 100%;
	display: none;
}

.fl-bar {
	position: absolute;
	top: 100%;
	height: 0;
	width: 100%;
	background: red;
	display: none;
}

.fl-remaining-bar {
	position: absolute;
	background: yellow;
	top: 0%;
	height: 0;
	width: 100%;
	display: none;
}

.fl-bar-label1 {
	border: 0px solid blue;
	margin-top: 20px;
	text-align: center;
}

.fl-bar-label2 {
	border: 0px solid blue;
	margin-top: 20px;
	text-align: center;
}

