// Place all the styles related to the RainBarrel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin triangle-down($color: #444, $dimension: 5px) {
	content: "";
	position: absolute;
	border-left: $dimension solid transparent;
	border-right: $dimension solid transparent;
	border-top: $dimension solid $color;
}

@mixin triangle-up($color: #444, $dimension: 5px) {
	content: "";
	position: absolute;
	border-left: $dimension solid transparent;
	border-right: $dimension solid transparent;
	border-bottom: $dimension solid $color;
}

@mixin triangle-left($color: #444, $dimension: 5px) {
	content: "";
	position: absolute;
	border-top: $dimension solid transparent;
	border-bottom: $dimension solid transparent;
	border-right: $dimension solid $color;
}

@mixin triangle-right($color: #444, $dimension: 5px) {
	content: "";
	position: absolute;
	border-top: $dimension solid transparent;
	border-bottom: $dimension solid transparent;
	border-left: $dimension solid $color;
}

@mixin rounded-corners($radius: 5px) {
	 border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin simple-vert-gradient($c-stop1: #f00, $c-stop2: lighten($c-stop1, 15%)) {
	background: #436b99; /* Old browsers */
	background: -moz-linear-gradient(top, $c-stop1 10%, $c-stop2 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,$c-stop1), color-stop(90%,$c-stop2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $c-stop1 10%,$c-stop2 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $c-stop1 10%, $c-stop2 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $c-stop1 10%, $c-stop2 90%); /* IE10+ */
	background: linear-gradient(to bottom, $c-stop1 10%, $c-stop2 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c-stop1', endColorstr='$c-stop2',GradientType=0 ); /* IE6-9 */
}

$blue-white: #d1d3ef;
$text-color: #e5e8ee;
$background: #171d25;
$blue: #39f;
$barrel_height: 375px;
$barrel_width: 195px;
$font-stack: "Lucida Grande", verdana, sans-serif;
$wrap-borders: 0px dotted green;
$barrel-borders: 0px dotted red;


.centered-text {
	text-align: center;
}

body {
	background: $background;
	color: $blue-white;
	font: 17px $font-stack;
}

a {
	color: $blue-white;
	text-decoration: none;
}

small {
	font: 13px $font-stack;
	color: #bbb;
}

h3 {
	padding-left: 13px;
	color: #aaa;
}

.title {
	margin: 10px auto;
	text-align: center;
}

.center {
	position: relative;
	margin: 0px auto;
	border: $wrap-borders;
	width: 12%;
	max-width: 40%;
	h1 {
		margin: 0 auto;
		text-align: left;
	}
}

/* wrappers */

#nav-bar-wrap {
	position: relative;
	height: 98vh;
	width: 39%;
	min-width: 160px;
	float: left;
	border: $wrap-borders;
}

#app-wrapper {
	width: 60%;
	max-width: 600px;
	height: 100vh;
	float: left;
	position: relative;
	border: $wrap-borders;
}


/* top bar */

.top-bar {
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 20px;
	border: $barrel-borders;
	height: 30px;
}

.landing .top-bar {
	float: none;
	display: block;
}

#top-bar-nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	white-space: nowrap;
	min-width: 195px;
	border-bottom: 1px solid #555;
	padding-bottom: 10px;
	margin-right: 100px;
	li {
		display: inline-block;
		width: 49%;
		min-width: 95px;
		text-align: center;
		// border-bottom: 1px solid #666;
		// float: left;
	}
}

.login-triangle-up {
	@include triangle-up(#444, 5px);
	left: 49%;
	margin-top: -25px;
}

.login-popup {
	position: absolute;
	background-color: rgba(40, 40, 40, 0.9);
	padding: 20px;
	border-radius: 15px;
	display: none;
	border: $barrel-borders;
	height: auto;
	width: 200px;
	margin-left: -72px;
	top: 100%;
	z-index: 1000;
}

.login {
	.field {
		margin-bottom: 10px;
	}
}

.sessions {
	width: 25%;
	max-width: 250px;
	min-width: 180px;
	float: right;
	text-align: center;
	border: $barrel-borders;
	a {
		padding: 0 15px;
	}
}

/* barrel graphic */

.water_quality_link {
	color: #ccc;
	padding-top: 30px;
	text-decoration: none;
	text-align: center;
	border: $barrel-borders;
	display: block;
	height: 100%;
}

#wrapper {
	position: relative;
	height: 600px;
	width: 300px;
	top: 33%;
	transform: translateY(-33%);
	border: $barrel-borders;
	margin: 0 auto;
}

#barrel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15%;
	border: 8px solid #444;
	border-radius: 20%;
	height: 375px;
	width: 195px;
	overflow: hidden;
}

#water_level {
	position: absolute;
	display: block;
	text-align: center;
	top: 100%;
	left: -2px;
	background: rgba(30, 90, 250, 0.8);
	border: 1px solid #39f;
	height: 0px;
	width: 210px;
}


/* legend, explanations */

#legend_wrapper {
	width: 80%;
	max-width: 800px;
	border: 0px solid #444;
	margin: 20px auto;
}

#legend {
	width: 100%;
	border: 0px solid #444;
	display: inline-block;
}


.legend-elt {
	border: 0px solid #444;	
	float: left;
	width: 24%;
	min-width: 100px;
	vertical-align: top;
}

.legend-box {
	display: inline-block;
	height: 22px;
	width: 22px;
	background: yellow;
	border-radius: 50%;
}

#legend-label {
	min-width: 120px;
	font-weight: bold;
}

#ideal .legend-box {	
	background-color: green;
}
#drinkable .legend-box {
	background-color: yellow;
	border-radius: 50%;
}
#unsafe .legend-box {
	background-color: red;
}

#data {
	margin: 40px auto;
	border: $wrap-borders;
	width: 80%;
	max-width: 800px;
}

.data-elt-wrapper {
	position: relative;
	border: $wrap-borders;
	display: inline-block;
	width: 100%;
	padding-bottom: 20px;
	text-align: left;
}

.data-elt {
	position: relative;
	float: left;
	margin: 15px;
	width: 30%;
	min-width: 140px;
	border: $barrel-borders;
	padding-bottom: 15px;
}

.data-status {
	border: 0px solid red;
	position: absolute;
	display: inline-block;
	// margin-top: 15px;
	vertical-align: bottom;
	left: -17px;
	top: 15px;
	margin-right: 10px;
}

.explanation {
	position: relative;
	float: left;
	width: 58%;
	border: $barrel-borders;
	margin: 15px;
}

.water_usage .explanation {
	position: relative;
	display: none;
	width: 600px;
	text-align: center;
	border: 0px solid red;
	margin: 0 auto;
	float: none;
	padding: 30px;
}

.usage-section .data-bit {
	color: #a78fd9;
	padding: 0px 5px;
}




/* highlights */ 

.green_highlight {
	color: green;
	font-weight: bold;
}
.yellow_highlight {
	color: yellow;
	font-weight: bold;
}
.red_highlight {
	color: red;
	font-weight: bold;
}

.highlight {
	background-color: #FAFAD2;
	color: #222;
	font-weight: bold;
}





/* alerts */

#alert {
	text-align: center;
	width: 70%;
	top: 0;
	bottom: 0;
	max-width: 500px;
	border: 0px dashed #e23;
	margin: 0 auto;
	margin-top: -20px;
	margin-left: 32%;
	display: none;
	background: #c72341;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	padding-top: 22px;
	box-shadow: 2px 2px 5px -2px #f31;
	margin-bottom: 25px;
}

.warning {
	position: relative;
	// float: left;
	height: 20px;
	width: 30px;
	margin: 15px;
	border: 0px solid red;
}

.warning:before {
	content: "!";
	position: absolute;
  z-index: 2;
  margin-top: 2px;
  margin-left: -1px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.warning:after {
	content: "";
	position: absolute;
	z-index: 1;
  border-width: 0 11px 18px;
  border-style: solid;
  border-color: #F8D201 transparent;
  border-radius: 20%;
  margin-top: 0px;
  margin-left: -10px;
  background: transparent;
}

.warning-text {
	padding: 10px;
}

.landing #alert {
	display: none !important;
}

.landing .warning-text {
	display: none;
}

.landing .warning-link {
	display: none;
}

#close-alert {
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #333;
}

#close-alert::after {
	content: "x";
	position: absolute;
	left: 67.4%;
	top: 2.7%;
}

#close-alert:hover {
	cursor: pointer;
	color: yellow;
}

.warning-link {
	color: #333;
	font-weight: bold;
	z-index: 100000;
	float: right;
}

.fix_link {
	color: #aaa;
	font-weight: bold;
}

.fix {
	display: none;
	border: $wrap-borders;
	margin-left: 20px;
}




/* icons, logos, buttons */

.icon_home {
	width: 1px;
	position: absolute;
	left: 20px;
  border-bottom: .938em solid $blue-white;
  border-left: .938em solid transparent;
  border-right: .938em solid transparent;
}

.icon_home::before {
	content: "";
	position: absolute;
	margin-top: 15px;
	margin-left: -10px;
  width: 8px;
  height: 11px;
  background: $blue-white;
}

.icon_home::after {
	content: "";
	position: absolute;
	margin-top: 15px;
	margin-left: 3px;
  width: 8px;
  height: 11px;
  background: $blue-white;
}

.icon_home_link {
	position: absolute;
	margin: -5px -20px;
	padding: 5px;
	z-index: 100;
	width: 30px;
  height: 30px;
	display: block;
	border: 1px dotted $blue;
	border-radius: 50%;
	-webkit-animation: rotate 12s linear infinite;
}

@-webkit-keyframes rotate {
  from{ -webkit-transform: rotate(0deg);   }
  to{   -webkit-transform: rotate(360deg); }
}

.rotate {
	-webkit-animation: barrel-rotate 0.5s linear 1;
	-webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes barrel-rotate {
  from{ -webkit-transform: rotate(0deg);   }
  to{   -webkit-transform: rotate(90deg); }
}

.icon_home_link:hover {
	border: 1px solid $blue;
}

.logo {
	margin-bottom: 30px;
}


.tooltip {
	display: none;
	background: #222;
	color: #fff;
	position: absolute;
	padding: 8px;
	padding-left: 10px;
	left: 100%;
	margin-left: 25px;
	top: 50%;
	transform: translateY(-50%);
	border: 0px solid red;
	width: 300px;
	height: auto;
}

.tooltip_triangle {
  position: absolute;
	border-top: solid transparent 20px;
	border-bottom: solid transparent 20px;
	border-right: solid #222 20px;
  opacity: 0;
  left: 100%;
  top: -10px;
  margin-left: 10px;
  margin-top: 0px;
	content: "";
	height: 0;
	width: 0;
}

.help:hover .tooltip_triangle {
    opacity: 1;
}

.help:hover .tooltip {
    display: block;
    pointer-events: auto;
}

.logo {
	margin: 3px 5px 0 30px;
}

.home .logo {
	position: absolute;
	margin-top: -120px;
	margin-left: 0px;
}

.logo span {
	opacity: 0.8;
}

.home .logo span {
	// -webkit-animation-name: flash-letter;
 //  -webkit-animation-iteration-count: infinite;
 //  -webkit-animation-duration: 3.2s;
 //  -webkit-animation-timing-function: ease;
 //  -webkit-animation-fill-mode: none;
  opacity: 0.5;
  color: #393;
}

// @-webkit-keyframes flash-letter{0%{opacity:0.41}30%{opacity:0.8}40%{opacity:0.65}100%{opacity:0.41}}

.logo:hover {
	span {
		-webkit-animation: lighten 0.8s linear 1;
		-webkit-animation-fill-mode: forwards;
	}

	.arrow {
		-webkit-animation: pulsate 1s linear infinite;
		-webkit-animation-fill-mode: none;
	}
}

.home .logo:hover {
	span {
		-webkit-animation: none;	
	}
}

@-webkit-keyframes lighten {45%{color: #888}75%{color: #aaa}100%{color: #bbb}}
@-webkit-keyframes pulsate {30%{margin-left: -22px}50%{margin-right: -24px}75%{margin-right: -22px}100%{margin-right: -20px}}

.help {
	position: absolute;
  color: #2385BA;
  height: 20px;
  width: 20px;
  margin-top: -7px;
  display: inline-block;
  border: $wrap-borders;
  vertical-align: super;
}

.help:before {
  content: "?";
  left: 100%;
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: $wrap-borders;
  margin: 0px 0px;

  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  color: #fff;
  background: #2385BA;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.btn {
	@include simple-vert-gradient(rgb(73,132,180), rgb(97,155,203));
	@include rounded-corners();
	-webkit-box-shadow: 1px 1px 0px #3f799e, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 1px 1px 0px #3f799e, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 1px 1px 0px #3f799e, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	cursor: pointer;
	font-size: 1.0em;
	color: white;
	border: 1px solid #2d6898;
	padding: 10px;
	vertical-align: middle;
	display: block;
	text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
	&:hover {
		@include simple-vert-gradient(rgb(78,137,185), rgb(102,160,208));
		text-decoration: none;
	}
}

.fix-link-wrapper {
	position: relative;
	display: inline-block;
	width: auto;
	border: 0px solid red;
}

.triangle-down {
	@include triangle-down(#634, 5px);
	margin-top: -8px;
	left: 103%;
}

.triangle-up {
	@include triangle-up(#39f, 5px);
	margin-top: -8px;
	left: 103%;
}

.col-7 {
	width: 70%;
	float: left;
}

.arrow {
  color: #495269;
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 12px;
  float: left;
  letter-spacing: 1px;
  margin: 4px 8px 0 -20px;
}

.where-i-am {
	position: relative;
	display: inline-block;
	border: 0px solid red;
	margin: 5px 5px;
	width: 12%;
	min-width: 160px;
	float: left;
	h4 {
		display: inline;
		padding-left: 10px;
		font-size: 22px;
		vertical-align: middle;
	}
}

.logo-small {
	display: inline-block;
	font-size: 15px;
	padding: 0;
}

.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: green;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}


.unsafe-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #FA6900;
    border-radius: 5px;
}

.unsafe-icon:after {
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 20px; 
    color: #FFF;
    line-height: 20px;
    text-align: center;
}

// .unsafe-icon {
//     width: 20px;
//     height: 20px;
//     display: inline-block;
//     background-color: red;
//     padding: 2px;
//     position: relative;
//     border-radius: 50%;
// }

// .unsafe-icon:before,.unsafe-icon:after{
//     content: '';
//     position: absolute;
//     width: 18px;
//     height: 2px;
//     background-color: white;
//     border-radius: 2px;
//     top: 9px;
//     // box-shadow: 0 0 2px 0 #ccc;
// }

// .unsafe-icon:before{
//     -webkit-transform:rotate(45deg);
//     -moz-transform:rotate(45deg);
//     transform:rotate(45deg);
//     left:1px;
// }
// .unsafe-icon:after{
//     -webkit-transform:rotate(-45deg);
//     -moz-transform:rotate(-45deg);
//     transform:rotate(-45deg);
//     right:1px;
// }





/* navigation */

#nav_bar {
	position: absolute;
  top: 45%;
  transform: translateY(-33%);
	border: $wrap-borders;
	left: 30%;
}

#nav_list {
	font-size: 19px;
	list-style-type: none;
	text-align: left;
	padding: 0;
	li {
		// border: 1px solid #555;
		margin: 15px;
		margin-bottom: 65px;
	}

	a {
		display: block;
		padding: 0 12px 0 0px;
		margin-bottom: 40px;
		height: auto;
		border: $barrel-borders;
	}
}

.legend {
	content: "";
	position: absolute;
	background: #384151;
	border-radius: 50%;
	display: block;
	text-align: center;
	z-index: 1000;
	left: -40px;
	height: 42px;
	width: 42px;
}

.selected {
	-webkit-animation: fill-selected 1.2s linear 1;
	-webkit-animation-fill-mode: forwards;
	background: #39f;
}

@-webkit-keyframes fill-selected{0%{opacity:0.35}30%{opacity:0.8}40%{opacity:0.95}100%{opacity:1.0}}

/* water usage page */

.usage-section {
	margin: 0 auto;
}

.usage-section h3 {
	margin: 0 auto;
	text-align: center;
}

.page-wrap {
	margin: 20px auto;
	width: 80%;
	float: left;
}

.home .page-wrap {
	width: 100%;
}

.landing .page-wrap {
	margin: 20px auto;
	float: none;
	width: 100%;
}

/* filter life page */

.reset-fl-link {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2000;
}

.icon-undo {
	position: relative;
	float: left;
	width: 40%;
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	cursor: pointer;
	z-index: 2000;
}

.icon-undo a::before {
	content: "";
	cursor: pointer;
	position: absolute;
  left: 1px;
  width: 9px;
  height: 9px;
  border: 3px solid #c55500;
  margin-top: -6px;
  background: transparent;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.icon-undo a::after {
	content: "";
	cursor: pointer;
	position: absolute;
	left: 9px;
  border: 4px solid $background;
  border-width: 5px 2px 5px 5px;
  border-left-color: #c55500;
  margin: -9px 0 0;
  background: transparent;
}

.filter-reset-wrap {
	position: relative;
	min-width: 300px;
	height: 50px;
	margin: 0px;
}

.filter-reset {
	position: relative;
	float: left;
	width: 50%;
	min-width: 150px;
	max-width: 300px;
	display: inline-block;
	z-index: 1000;
}




/* responsive modifications */

@media screen and (max-width: 800px) {
	
	.top-bar {
		display: block;
		float: none;
	}

	/* navigation */
	#nav-bar-wrap {
		height: 200px;
		width: 32%;
		min-width: 230px;
		left: 1%;
		float: none;
		margin: 0 auto;
		border: 0px solid red;
		z-index: 5000;
		margin-bottom: 50px;
	}

	#nav_bar {
		position: relative;
		top: 50%;
		left: 0;
	}

	#nav_list {
		text-align: center;
		li {
			margin-bottom: 25px;
		}
		a { 
			margin-bottom: 0px; 
		}
	}

	/* barrel */
	#app-wrapper {
		width: 100%;
	}

	#wrapper {
		margin: 0 auto;
	}

}





